.content {
  background-color: #fff;
  margin-top: 1px;
  height: 17%;
  display: flex;
  :first-child {
    flex: 3;
  }
  background-color: rgb(255, 255, 255);
  :nth-child(2) {
    flex: 4;
  }

  :nth-child(3) {
    flex: 3;
  }
  :nth-child(4) {
    flex: 3;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.bg-1 {
  background-color: #b2ece1;
}
.bg1 {
  background-color: #f9ebe6;
}
.bg0 {
  background-color: #dde2f1;
}
